<!DOCTYPE html>
<html>
<head>
    <title>Notes</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    <link rel="stylesheet" type="text/css" href="/app.css">
</head>
<body>
    <div id="app" class="bg-gray-300 min-h-screen">

        <header class="p-4 bg-gray-700">
            <div class="flex justify-between max-w-lg">
                <h1 class="text-lg font-bold text-white">Notes</h1>
                <clear-archived @clear="clearArchived" :active="archivedNotesPresent"></clear-archived>
            </div>
        </header>

        <main class="p-4">
            <div class="max-w-lg">
                <create @create="createNote"></create>

                <div class="mt-4">
                    <note
                        v-for="(note) in sortedNotes"
                        :key="note.id"
                        :note="note"
                        @archive="archive"
                        @unarchive="unarchive"></note>
                </div>

                <p v-if="notes.length == 0" class="text-gray-700">
                    You have no notes.
                </p>
            </div>
        </main>
    </div>

    <script type="text/javascript" src="/app.js"></script>
</body>
</html>
